.post_latest{
	    margin-top: 144px;
}
.first_post{
	    background: white;
		    margin-bottom: 20px;
}
.first_post a{}
.first_post img{
    width: 263px;
    height: 300px;
}
.first_post button{}
.first_post p{
    color: #484747;
    padding: 10px;
    margin-top: 9px;
    font-size: 11px;
    text-align: center;
}
.first_post span{
	    color: red;
}
.first_post h4{
	    font-size: 15px;
    padding: 1px 24px;
    line-height: 25px;
}
.first_post h5{
	    color: red;
    font-size: 17px;
    text-align: center;
    margin-top: 19px;
}
.first_post_bg{}
.first_post_bg h6{
	color: gray;
    text-align: center;
    font-size: 15px;
}
.first_post_bg i{
	font-size: 18px;
    margin-right: 10px;
}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}