.industrial {
    margin-top: 153px;
    margin-bottom: 112px;
    text-align: center;
	 width: 314px;
    height: 342px;
}
.industrial img{
	 width: 314px;
    height: 342px;
}

.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}