.shop{
    margin-top: 157px;
    text-align: center;
    height: 73px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.3)
}
.shop h2{
	text-align: left;
    color: gray;
}
.paragraph {}
.paragraph p{
	
    font-size: 20px;
    margin-top: 40px;
}
.first {
    width: 100%;
    margin-right: 61px;
    margin-top: 50px;
}
.first img{
    width: 100%;
    height: 278px;

}
.first p{
     background: rgb(255, 255, 255);
    padding: 14px 10px;
    text-align: center;
    color: #ce1a1a;
    font-size: 20px;
    width: 262px;
    border: 1px solid rgba(128, 128, 128, 0.36);}
.images{
	text-align:center;
	margin-top:46px;
	margin-bottom:46px
}
.images img{
    width: 110px;
    height: 43px;


}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}