.terms{    margin-top: 154px;
}
.terms h2{}
.terms h3{}
.terms p{
	margin-bottom: 34px;
	}
	.footer_bg {
    background: rgba(33, 30, 30, 0.91);
    border-top: 5px solid #de2626;
}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}
.{}